<div class="jumbotron">
    <h1>Age Of Colony</h1>
    <p class="lead">Le jeu qu'il est bien.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Apprendre plus &raquo;</a></p>
</div>
